@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s ease;
}
body{
    background-color: rgb(14, 10, 41);
}
.nothing{
    text-align: center;
    color: rgb(57, 103, 143);
    font-size: 25px;
    font-weight: bolder;
}
.nothing-close{
    display: none;
}
.nav-container2{
    background-color: rgb(14, 10, 41);
    padding: 5px;
    display: flex;
    width: 100%;
    margin-right:0 ;
    padding: 15px;
    /* gap: 10%; */
}
.refresh-btn{
    margin-left: 15px;
}
.refresh-btn:active{
    transform: rotateZ(180deg);
    /* transform: scale(0.8); */
    color: aquamarine;
}
.search-box{
    margin-left: 31vw;
    width: 25vw;
    margin-right:5px ;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.154);
    padding: 1px 4px;
    border: 2px solid rgba(0, 229, 255, 0.363);
    font-size: 21px;
    color: white;
}
.search-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(93, 212, 252);
    padding: 1px 5px 3px 5px;
    color: rgb(12, 8, 42);
    font-size: 21px;
}
.search-btn:active{
    transform: scale(0.8);
    background-color:rgb(255, 0, 68) ;
}
.navi-tags{
    position: absolute;
    /* width: 200px; */
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    color: white;
    font-weight: bolder;
    /* text-decoration: none; */
}
.nav-container{
    width: 100%;
    display: flex;
    background-color: rgb(14, 10, 41);
    padding: 20px;
    height: 7rem;
    justify-content:center ;align-items: center;
    /* border-bottom: 2px solid linear-gradient(rgba(255, 0, 106, 0.873),white); */
    border-width: 2px; /* Set the desired border width */
  border-style: solid; /* Set the border style to solid */
  border-image: linear-gradient(to right, rgb(255, 0, 76), blue); /* Set the linear gradient */
  border-image-slice: 1; /* Ensure the gradient covers the entire border */

}
.nav-container a{
    float: left;
    position: absolute;
    color: rgb(26, 81, 129);
    font-size: 2.2rem;
    font-weight: bolder;
    /* left: 2rem; */
}
/* .search-btn{
    transform: translateX(200%);
} */
.filter-icon{
    width: 30px;
    position: absolute;
    left: 1rem;
    mix-blend-mode: color-burn;
    color: aqua;
}
.filter-icon:active{
    transform: rotateZ(30deg);
}
.filter-btn{
    background-color:rgb(0, 229, 255) ;
    padding: 15px;
    border: 1px solid rgb(211, 237, 252);
    border-radius: 4px;
    color: rgb(11, 7, 39);
    font-size: 18px;
    font-weight: bolder;
    width: 80%;
}
.filter-btn:active {
    transform: scale(0.8);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: rgb(119, 0, 255);
}
.filter-close-btn{
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    min-width: 50px;
    padding:  8px 12px;
    font-size: 15px;
    font-weight: bolder;
}
.filter{
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 15px;
    z-index: 80;
    min-width: 300px;
    max-width: 300px;
    max-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(9, 7, 41, 0.818) ;
    border: 2px solid;
    border-image-slice: 1; /* Ensure the gradient covers the entire border */
    border-image: linear-gradient(to right, rgb(255, 0, 76), blue); /* Set the linear gradient */
}
.filter-close{
    transform: translateX(-100%);
}
.logo{
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 1rem;
}
.image{
    /* max-width:20rem; */
    width: 100%;
    min-width: 5rem;
}

.p{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* text-align: center; */
    /* gap: 1rem;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.product .p{
    background-image: linear-gradient( to bottom,rgb(255, 0, 102),rgb(55, 0, 136));
    text-align: center;
    font-size: 0.9rem;
    font-weight: bolder;
    color: rgb(7, 5, 35);
    padding: 1rem;
}
.product{
    border-radius: 5px;
    /* box-shadow: 2px 2px 20px 4px rgb(135, 212, 250); */
    overflow: hidden;
    text-align: center;
    max-width: 430px;
    /* margin: 1rem; */
}
.product-price{
    padding: 4px;
    background-color: aliceblue;
    color:rgb(6, 8, 35);
    font-size: 1rem;
    font-weight: bolder;
}
.add-btn{
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
}
.add-btn img{
    mix-blend-mode: color-burn;
}
.close{
    /* left: 100%;*/
    transform: translateX(100%);
}
.products{
    z-index: 0;
    /* padding: 1rem; */
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-column-gap: calc(max(3vw,20px));
    grid-row-gap: calc(max(3vw,20px));
    grid-template-columns: repeat(auto-fill,minmax(250px,1.6fr));
    background-color: rgb(6, 4, 45);
    padding: 2rem;
    height: 100%;
    /* bottom: 0;
    position: absolute; */
}
.cart-box{
    
    color: rgb(231, 241, 249);
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(101, 60, 249, 0.799);
    padding:0cm 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.cart-img{
    width: 10rem;
    margin-left: 1rem;
    margin: 5%;
    border: 1px solid rgba(101, 60, 249, 0.799);
    border-radius: 8px;
    box-shadow: 2px 2px 10px aliceblue;
}
.cart-remove{
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    /* transform: translateY(5rem); */
    border: 2px solid red;
    padding: 2px 3px;
}
/* .remove-btn{
    display: flex;
    align-items: center;
} */
.details{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: center;
    margin-right: 10px;
    /* row-gap: 0.5rem; */
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 2px solid rgb(216, 209, 209);
    width: 2.5rem;
    border-radius: 3px;
    padding:0.35rem;
    background-color: rgba(240, 248, 255, 0.144);
    color: rgb(172, 238, 255);
    font-weight: bolder;

}
.cart-product-title{
    font-size: 1.6rem;
}
.cart-title{
    color: aliceblue;
    text-align: center;
    margin-top: 1.5rem;
    object-fit: contain;
    padding: 1rem;
}
.cart{
    z-index: 120;
    width: 45%;
    max-width: 500px;
    /* min-width: 450px; */
    max-height: 100vh;
    position: fixed;
    background-color:rgba(14, 11, 46, 0.708) ;
    /* position: absolute; */
    top: 0;
    right: 0 ;
    border: 4px solid rgb(180, 216, 245);
    border-radius: 4px;
    overflow-y: scroll;
    transition: all 1.5s ease;
}
.total{
    display: flex;
    border-top: 3px solid white  ;
    border-bottom: 3px solid white  ;
    padding: 1rem;
    /* flex-direction: column; */
    justify-content: end;
    align-items: center;
    margin: 1rem;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(255, 0, 72);
}
.cart-close{
    position: absolute;
    font-size: 2rem;
    right: 1rem;
    top: 1rem;
}
.proceed{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: aqua;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 1px 2px aqua;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
}
/* #proceeed:hover{
    letter-spacing: 0.2rem;
    background-color: azure;
} */

/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* Product page  */
.product-wrapper{
    background-color: rgb(60, 0, 128);
    width: 100%;
    min-height: 100vh;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 100;
    
}
.product-container{
    min-height: 100vh;
    background-color:  #000000be;
    display: flex;
    flex-direction: row;
    padding: 3rem;
    overflow: hidden;
}
.product-leftpart{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-rightpart{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* position: relative; */
    /* top: 10%; */
    /* height: 70%; */
    /* padding-bottom: 30px; */
}
.product-images{
    height: 70%;
    width:80%;
}
.product-img{
    /* box-shadow: 2px 2px 40px 5px rgb(0, 191, 255); */
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.ppage-icon{
    position: absolute;
    left: 0;
    width:calc(max(20%,300px));
    /* min-width: 200px; */
}
.login-header{
    height: 20%;
    background-color:  #000000be;
    display: flex;
    flex-direction: row;
}
.ppage-title{
    color: white;
    font-size: 55px;
    font-weight: bolder;
}
hr{
    background-color: white;
    color: white;
    height: 20px;
}
.ppage-price{
    font-size: 35px;
    color: rgb(255, 45, 129);
}
.ppage-details{
    /* background:radial-gradient(at 0px 0px circle,purple); */
     background: radial-gradient(circle at 0px 0px,rgba(253, 2, 111, 0.75),rgba(14, 2, 21, 0.491),rgba(1, 1, 23, 0.491)),radial-gradient(circle at 100% 100%,rgb(123, 2, 253),rgba(14, 2, 21, 0.491),rgb(1, 1, 23));
     top: 0;
    width:80%;
    min-height: 70%;
    padding: 10%;
    border-radius: 10px;
    border: 2px solid rgba(0, 255, 255, 0.266);
    display: flex;
    flex-direction: column;
    gap: 30px;


}
.ppage-reviews{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.offers{
    color: rgb(0, 200, 255);
    font-weight: bolder;
    background-color: rgba(240, 254, 255, 0.317);
    padding: 20px;
    border: 2px solid rgba(0, 255, 255, 0.266);
    border-radius: 3px;
}
.ppage-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 7%;
}
.ppageaddtocart,.returnhome{
    width:calc(max(40%,200px));
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.ppageaddtocart{
    background-color: greenyellow;
}
.returnhome{
    background-color: rgba(253, 2, 111);
}
.ppage-cartlogo{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 60px;
}
.description-container{
    background-color:  #000000be;
    padding:2% 10%;
}
.description{
    border:2px solid rgba(0, 255, 255, 0.266) ;
    color: white; 
    font-size: 15px;
    padding: 3% 10%;
}
.description h3{
    font-size: 20px;
    color: aliceblue;
    font-weight: bolder;
    margin-bottom: 25px;
}
.slider-container,.d-block{
    width: 100%;
    max-height: 800px ;
}
.carousel{
    width: 70%;
}
.slider-container{
    display: flex;
    flex-direction: row;
}
.bluff{
    width: 30%;
    background: radial-gradient(circle at 0px 0px,rgba(253, 2, 111, 0.75),rgba(14, 2, 21, 0.491),rgba(1, 1, 23, 0.491)),radial-gradient(circle at 100% 100%,rgb(123, 2, 253),rgb(14, 2, 21),rgb(1, 1, 23));
}





/* Login Page*/
#app{
    overflow-y: scroll;

}

/*(90, 129, 207)*/
/* @media only screen and (min-width: 740px){ */
    #app .login-wrapper .login-background .bg-image {
background-size: cover;
filter: brightness(50%);
display: block;
height: 100%;
min-height: 100vh;
position: fixed;
width: 100%;
z-index: -1;
/* margin-bottom: 0; */
}

.login-background{
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/25/12/55/art-1478831_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(20px); */
}
.login-duller{
    background-color: #030914c2;
    height: 100vh;
    overflow:hidden;
}

.loginp-header  img{
    width:21rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
}
.add-ons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    height: 80%;
    min-height: 800px;
    /* width: 60%; */
}
.boxes,button,.check,h2{
    font-family: 'Roboto', sans-serif;
    
}
.sign-in-box{
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    grid-template-rows: 80px ;
    /* grid-template-columns: auto-fit 1fr; */
    /* padding-left: auto; */
    /* justify-content: center; */
    align-items: center;
    height: 90vh;
    width: max(450px,30vw);
    background-color: rgba(36, 52, 91, 0.557);
    border-radius: 8px;
    gap: 3rem;
    height: 100%;
}
.input-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    
}
.boxes{
    width: 100%;
    height: 50px;
    border-radius: 5px ;
    background-color: rgb(69, 66, 66);
    border: none;
    padding: 13px;
    color: rgb(168, 163, 163);
    font-size: 18px;
}
#label1{
    color: rgb(179, 176, 176);
    font-size: 15px;
    font-weight:50;
    /* display: inline; */
}
.signin{
    margin-top: 1.8rem;
    width: 100%;
    height: 50px;
    background-color: rgb(133, 90, 207);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.signin:hover{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 8px 4px rgba(167, 232, 255, 0.684);
    font-size: 20px;
}
.text{
    font-family: 'Open Sans', sans-serif;
    padding-top: 4.5rem;
    font-size: 17px;
    color: rgb(131, 130, 130);
}
input[type='checkbox'] {
    accent-color: white;
    border: none;
    color: black;
}
#check:checked{
    background-color: white;
}
.mini-text{
    font-size: 15px;
    padding-top: 1rem;
    width: 20rem;
}
#learn-more{
    color: rgb(66, 66, 240);
}
.href{
    text-decoration: none;
    color: rgb(223, 223, 223);
    font-weight: bold;

}
.href:hover{
    text-decoration: underline;
}
#remember{
    width: 20px;

    
}

.signin-title{
    /* text-align: center; */
    color: rgb(255, 50, 91);
    font-size: 50px;
    width: 70%;
    /* padding-top: 4rem; */
}
#need-help{
    color: rgb(194, 194, 194);
    text-decoration: none;
    font-weight: lighter;
    font-size: 0.85rem;
    padding-left: 8rem;
}
#need-help:hover{
    text-decoration: underline;
}

@media (min-width:1050px){
    .info-links{
        grid-template-columns: repeat(4,minmax(18rem,4rem));
    }
}
@media (min-width:550px) and(max-width:949px){
    .info-links{
        grid-template-columns: repeat(3,minmax(3rem,4rem));
    }
}
@media screen and (max-width:600px) {
    .login-background{
        background: black;
    }    
    .sign-in-box{
        width: 90%;
        padding: 20px;
        gap: 2rem;
        margin-bottom: 30px;
        height: 80%;
        position: absolute;
        top: 15%;
    }
    .input-box{
        width: 90%;
    }
    .text{
        padding-top: 20px;
    }
    .signin-title{
        font-size: 35px;
        width: 90%;
    }
    .loginp-header  img{
        width:13rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }
}
@media screen and (max-height:700px) {
    .login-background{
        overflow-y: scroll;
    }    
}









@media screen and (max-width:900px) {
    .product-rightpart{
        height: 120%;
    }
}
@media screen and (max-width:800px) {
    .product-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 100px;
    }
    .product-leftpart{
        width: 90%;
        /* margin-left: 20%; */
        padding-left: 0;
        padding-right: 0;
    }
    .product-rightpart{
        width: 90vw;
        margin-left: 16vw;
        max-width: none;
    }
    .ppage-title{

        font-size: 180%;
    }
    .ppage-price{
        font-size: 140%;
    }
    .ppage-details{
        gap: 25%;
    }
    .ppage-btns{
        font-size: 120%;
    }
}















@media screen and (max-width:900px) and (min-width:831px) {
    
    .cart{width: 50%;}
}
@media screen and (max-width: 830px) {
    .cart {
      width: 100%;
      justify-content: center;
      font-size: 150%;
    }
    .details{
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
    }
    .cart-img{
        width: 15rem;
        margin-left: 2%;
    }
    .fontss{
        font-size: 80%;
        font-weight: bolder;
    }
    .search-box{
        margin-left: 23vw;
        font-size: 15px;
    }
    .search-btn{
        font-size: 15px;
    }
  }
  @media screen and (max-width: 450px) {
    .cart {
      width: 100%;
      justify-content: center;
      font-size: 5vw;
    }
    .details{
        margin-left: 3vw;
        margin-right: 3vw;
        justify-content: center;
    }
    .cart-img{
        width: 30vw;
        margin-left: 2vw;
    }
    .fontss{
        font-size: 5vw;
        font-weight: bolder;
    }
    .cart-remove{
        margin-left: 2vw;
        font-size: 2vw;
    }
    .remove-btn{
        margin-left: 2rem;
    }
    .filter{
        width: 100%;
        max-width: none;
    }
    .navi-tags{
        flex-direction: column;
        /* height: 30vh; */
    }
    /* .nav-container2{
        height: 10vh;
    } */
    .search-box{
        margin-left: 15vw;
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(37, 49, 70); 
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.557);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(126, 197, 220, 0.598); 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b1d1d2b5; 
  }

